.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
input[type=text] {
    padding:5px; 
    border:3px solid #ccc; 
    -webkit-border-radius: 3px;
    border-radius: 3px;
	font-size: large;
}

input[type=text]:focus {
    border-color:#333;
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
	font-size: large;
	/*background-color:#FFFFE0;*/
}
